<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750265527331-vvijlud0aocucqg1i10m9lp5mnhepj82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750265527331-vvijlud0aocucqg1i10m9lp5mnhepj82</string>
	<key>API_KEY</key>
	<string>AIzaSyAdGPAj2xGH9s-c-2FYKesZdDXbsz3pNO8</string>
	<key>GCM_SENDER_ID</key>
	<string>750265527331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FourthProject</string>
	<key>PROJECT_ID</key>
	<string>productmanagement-7c451</string>
	<key>STORAGE_BUCKET</key>
	<string>productmanagement-7c451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750265527331:ios:3f6c353430bc3abb229596</string>
</dict>
</plist>